<h1>Artist #<%= @artist.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @artist.name %></p>
</div>
<div>
  <strong>Image</strong>:<br />
  <p><img src="<%= @artist.image_url %>"></p>
</div>
<div>
  <div>User: <%= @artist.user %></div>
</div>
<ul>
  <% @artists.each do |artist| %>
  <li><%= @artist.name %></li>
  <% end %>
</ul>

<a href="/artists/<%= @artist.id %>/edit">Edit</a> |
<a href="/artists/<%= @artist.id %>/destroy">Destroy</a>
